<ion-header>
  <ion-toolbar>
    <ion-back-button text="Registration">
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label text-wrap>
    Select country code.
  </ion-label>

  <!-- Drop down menu -->
  <ion-item>
    <ion-select class="rcorners_outline" [(ngModel)]="selected_country" value="-" okText="Okay" cancelText="Dismiss">
      <ion-select-option *ngFor="let model of countryArray">{{model.name}} - {{model.code}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- phone number -->
  <ion-label text-wrap>
    Enter your phone number.
  </ion-label>

  <ion-input placeholder="Phone number" clearInput type="tel" class="rcorners_outline"
    style="width:90%; margin: 0 auto;"
    (ionChange)='onPhoneChanged($event.target.value)'></ion-input>

    <!--  buttons -->
  <div style="text-align: center;">
    <button class="submit_btn" (click)="goBack()">Back</button>
    <button class="submit_btn" (click)="submit()">Submit</button>
  </div>
</ion-content>