.submit_btn {
    background-color: #3880ff;
    border-radius: 5px;
    // display: block;
    // margin: auto;
    // margin-left: auto;
    // margin-right: auto;
    // border: none;
    border: 2px solid #ffffff;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
}

.rcorners_outline {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #3880ff;
    padding: 10px;
  }