app-login {
    .login_bg{
        background:url("../../assets/images/splash_background1.png") !important;
        background-position: center !important;
        background-size:cover !important;
    }

    .login_content{
        width:100%;
        padding: 15px;
        h5{
            color: #fff;
            font-weight: 600;
            text-align: left;
            font-size: 32px;
            padding-top:30px;
        }
        hr{
            height:0px;
            border:3px solid #ffd200;
            width:30px;
            margin-left: 0px;
            margin-top: 30px;
        }
        .list{
            padding-top:40px;
            .item{
                .item-inner{
                    border:none !important;
                    padding-bottom:20px !important;
                    .input-wrapper{
                        .input{
                            height:100%;
                            .text-input{
                                height:100%;
                                font-size: 40px;
                                font-weight: 300;
                                border-bottom:2px solid #795584;
                                color: #fff;
                                &::-webkit-input-placeholder{
                                    color: #6f567e;
                                }
                            }
                        }
                    }
                }
            }
        }
        .login_btn{
            width: 100%;
            height:40px;
            border-radius: 20px;
            background: #da1c5c;
            color: #fff;
            font-size: 16px;
            text-transform: capitalize;
        }
        p{
            color: #a9a6b9;
            text-align: left;
            font-weight: 300;
            font-size: 16px;
            padding-top: 40px;
            strong{
                color: #fff;
                font-size: 24px;
                letter-spacing: 1px;
                // background:url("../assets/imgs/go_arrow.png") !important;
                background-position: right !important;
                background-size: 20px !important;
                background-repeat: no-repeat !important;
                padding-right: 25px;
            }
        }
    }
}