<ion-header>
  <ion-toolbar>
    <ion-title>XYZ Wallet</ion-title>
    <!-- <ion-button name="settings" slot="end"></ion-button> -->
    <!-- <ion-navbar> -->
        <ion-button slot="end" fill="clear">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
      <!-- <button end>myBtn</button> -->
    <!-- </ion-navbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs style="background-color:brown" selectedIndex="1">
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button tab="hometab">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="wallettab">
        <ion-icon name="wallet"></ion-icon>
      </ion-tab-button>
  
      <!-- <ion-tab-button tab="profile_tab">
        <ion-icon name="profile"></ion-icon>
      </ion-tab-button> -->
    </ion-tab-bar>
    </ion-tabs>
</ion-content>
