<ion-header>
  <ion-toolbar>
      <ion-back-button text="Sign up">
        </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5>Sign up mother fucker..</h5>
  <button (click)="goToTabs()">go to tabs</button>
</ion-content>
