<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home_tab</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="width: 100%; height: 100%; background-color:burlywood">
  <p>Home page!</p>
</div>
</ion-content>
