<ion-content>

  <ion-img style="object-fit: cover; width: 100%; height: 100%;" src="assets/images/splash_background1.png"></ion-img>
  <!-- BIg mamma -->
  <!-- <div style="width:100%; height:100%;">
    
    <div class="center_content" style="width:100%; height:100%; background-color: #232323;  z-index: 1;">

      <ion-slides class="center_content" style="background-color: white" pager="true">
        <ion-slide>
          <ion-img style="object-fit: cover; width: 100%; height: 100%;" src="assets/images/splash_background1.png"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img style="object-fit: cover; width: 100%; height: 100%;" src="assets/images/splash_background2.png"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img style="object-fit: cover; width: 100%; height: 100%;" src="assets/images/splash_background3.png"></ion-img>
        </ion-slide>
      </ion-slides>

    </div>

    
    <div class="center_content" style="width:90%; height:90%; z-index: 2; pointer-events:none;">

      <div class="ext-box">
        <div class="int-box">
          <div class="title-label">What the fuck?What the fuck?What the fuck?What the fuck?</div>
          <div class="description-label">Description textDescription textDescription textDescription textDescription text
            Description textDescription textDescription textDescription Description textDescription textDescription
            textDescription</div>
        </div>
      </div>
      <div class="btn_container">
        <ion-button shape="round" class="continue_btn" (click)="goToRegistration()">Continue</ion-button>
      </div>

    </div>
  </div> -->
</ion-content>