
ion-slide {
    height: 100vh;
    width: auto;

    .img {
        height: 100%;
        display:block;
        width: 100%;
    }
}
.ext-box {
    display: table; 
    width:100%;
    height: 90%;
}
.int-box {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    text-align: center;
}
.title-label {
    width:80%; margin:0 auto;
    letter-spacing: 1px;
    max-lines: none;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }
.description-label {
    width:100%;
    margin:30px 0px;
    letter-spacing: 1px;
    max-lines: none;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #efefef;
  }
.btn_container {
    width:100%;
    text-align: center;
}
.continue_btn {
    font-size: 14px;
    --border-radius:5px;
}
.center_content {
    text-align:center; 
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}