.ext-box {
    display: table; 
    width:100%;
    height: 90%;
}
.int-box {
    display: table-cell;
    vertical-align: middle;
    width:100%;
    text-align: center;
}

.title-label {
    width:60%; 
    margin:0 auto;
    letter-spacing: 1px;
    max-lines: none;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
  }

.description-label {
    width:70%;
    margin:30px auto;
    letter-spacing: 1px;
    max-lines: none;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #efefef;
  }

.btn_container {
    width:100%;
    text-align: center;
    background-color: #ffffff;
}

.continue_btn {
    font-size: 14px;
    --border-radius:20px;
}

.center_content {
    text-align:center; 
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}