<!-- <ion-header>
  <ion-toolbar>
    <ion-title>wallettab</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="width: 100%; height: 100%; background-color: palegreen">
  <p>Wallet page!</p>

  <div class="center_content" style="width:90%; height:90%; z-index: 2; pointer-events:none;">

      <div class="ext-box">
        <div class="int-box">
          <div class="title-label">Setting up your wallet...</div>
          <div class="description-label">Is this the first time you create a wallet? <br/> <br/> Or have you previously created a ZYX wallet that you wish to restore?</div>

            <ion-button shape="round" class="continue_btn" (click)="goToWalletCreation()">Create new wallet</ion-button>
        <ion-button shape="round" class="continue_btn" (click)="goToWalletCreation()">Restore existing wallet</ion-button>
        </div>
      </div>
      <!-- <div class="btn_container">
        <ion-button shape="round" class="continue_btn" (click)="goToWalletCreation()">Create new wallet</ion-button>
        <ion-button shape="round" class="continue_btn" (click)="goToWalletCreation()">Restore existing wallet</ion-button>
      </div> -->

    </div>
  </div>
</ion-content>